!!! 5
%html{ :lang => "en"}
  %head
    %title= "Stack Exchange Equivalent Domains"
    /%link{ :charset => "utf-8", :href => "/assets/application.css",
    /       :media => "screen", :rel => "stylesheet", :type => "text/css" }
  %body
    %header
      %h1= "Stack Exchange Equivalent Domains"
    %p= puts ENV['PWD']
    /%p= File.read('views/stackdom.out')
    /%script{:type => "text/javascript", :src  => "assets/application.js"}
